In [1]:
import pandas as pd
import numpy as np

In [2]:
train_file = 'data/train.csv'
test_file = 'data/test.csv'

#Explore the training dataset
#Note: For some reason, if you dont specify the encoding as latin-1, the interpreter will throw an UTF-8 encoding error
data = pd.read_csv(train_file, error_bad_lines=False, encoding='latin-1')
data.columns = ['id', 'sentiment', 'text']
data.head(2)

   id  sentiment                                               text
0   1          0                       is so sad for my APL frie...
1   2          0                     I missed the New Moon trail...

In [3]:
#Id information is not useful. So let's remove it
#axis=1 indicates columns
data = data.drop(labels=['id'], axis=1)
data.head(10)

   sentiment                                               text
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...
5          0                  or i just worry too much?
6          1                 Juuuuuuuuuuuuuuuuussssst Chillin!!
7          0         Sunny Again        Work Tomorrow  :-|  ...
8          1        handed in my uniform today . i miss you ...
9          1           hmmmm.... i wonder how she my number @-)

### Observations:
1. Data has a mix of alphabets, numbers and symbols
2. Mix of words with uppercase and lowercase letters
3. We need to normalize the words to their base word. Leaving capitalizaed words in the middle of the tweet can be
   experimented with as they may hold different feature space like name of the person, country, etc.. 
4. No particular order of sentiment and tweets. If data is not randomly distributed then it can introduce bias to a learning model
5. Need to split and shuffle the data to reduce variance (makes sure the model can generalize better on the data) 
   and does not lead to overfitting 
6. Need to get an idea of the distribution of data

In [5]:
# calculate the number of positive and negative tweets
positives = data['sentiment'][data.sentiment == 1]
negatives = data['sentiment'][data.sentiment == 0]

print('Number of postive tweets {}' .format(len(positives)))
print('Number of negative tweets {}' .format(len(negatives)))
print('Total Length of the data is: {}' .format(data.shape[0]))

Number of postive tweets 56457
Number of negative tweets 43532
Total Length of the data is: 99989

### More observations
Are there any duplicates in the data? Get the unique counts to identify this

In [6]:
data.groupby('sentiment').describe()

            text                                                            \
           count unique                                                top
sentiment
0          43532  43532  @Aneesaah__x i feel like shit bcz of that sada...
1          56457  56457  @ashaj Those lucky geniuses! Hope you're havin...


          freq
sentiment
0            1
1            1